#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.4em;
  padding: 6px 20px;
}
.header-title {
  font-size: 2.4em;
  font-weight: 700;
}
.header-login {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
.login-acccount_sub > span {
  opacity: 0.6;
}
.btn-login {
  background-color: #5973a8;
  border-radius: 1px;
  padding: 0 7px;
  box-shadow: rgba(17, 17, 17, 0.2) 3px 3px 3px 0;
}
.btn.btn-login {
}

#main {
  padding: 23px 0;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  background-color: #edf0f5;
}

.main-content {
  flex: 2;
  padding: 55px 10px;
}
.main-content-title {
  font-size: 1.8em;
}
.main-content-wrapp-fn {
}
.main-content__item {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 20px;
}
.icon_wrapper {
  font-size: 2.8em;
  color: #adb8d3;
}
.main-content__item-decs span {
  padding-left: 10px;
  opacity: 0.6;
}

.main-sign_up {
  flex: 1;
  padding: 0 20px;
  font-size: 18px;
  border-bottom: 1px solid var(--primary-color);
}
.sign-up-title {
  font-size: 2em;
}
.sign-up-decs {
  font-weight: 500;
}

.form-sign-up {
  margin-top: 15px;
  font-size: 18px;
}

.form-name {
  margin-right: -10px;
  display: flex;
}
.form-input {
  font-size: 1em;
  margin: 5px 10px 5px 0;
  padding: 5px 10px;
  width: 100%;
}

.form-bithday-title {
}
.birthday-wrapp {
  display: flex;
}
.bithday-select {
  display: flex;
}
.bithday-select * {
  font-size: 0.9em;
  padding: 0 5px;
  border: 1px solid #ccc;
}
.month-wrapp {
  height: 100px;
  overflow-y: auto;
}
.bithday-link {
  margin-left: 20px;
  margin-right: 50px;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--primary-color);
}
.radio-sex {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}
.sign-up-desc {
  margin-top: 10px;
  font-size: 0.9em;
}

.sign-up-desc-link {
  text-decoration: none;
  color: var(--primary-color);
}

.btn-sign_up {
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.274);
  padding: 10px 80px;
  border-radius: 5px;
  background-color: #5f9a4c;
  box-shadow: rgb(2 2 2 / 20%) 2px 2px 5px 1px;
}

.btn-sign_up:hover {
  opacity: 0.9;
}
