#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.6em;
  padding: 6px 20px;
}
.header-title {
  font-size: 2.4em;
  font-weight: 800;
}
.header-login {
  display: flex;
  gap: 20px;
}
.login-account {
}
.login-text {
}
.input-control {
}
.login-acccount_sub {
}
.btn {
}
.btn-login {
  background-color: var(--primary-color);
  opacity: 0.5;
  box-shadow: rgba(17, 17, 17, 0.2) 3px 8px 10px 0;
}
.btn.btn-login {
}
