#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.4em;
  padding: 6px 20px;
}
.header-title {
  font-size: 2.4em;
  font-weight: 700;
}
.header-login {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
.login-acccount_sub > span {
  opacity: 0.6;
}
.btn-login {
  background-color: #5973a8;
  border-radius: 1px;
  padding: 0 7px;
  box-shadow: rgba(17, 17, 17, 0.2) 3px 3px 3px 0;
}
.btn.btn-login {
}

#main {
  font-size: 1.5em;
  display: flex;
  background-color: #edf0f5;
}

.main-content {
  padding-top: 75px;
}
.main-content-title {
  font-size: 1.8em;
}
.main-content-wrapp-fn {
}
.main-content__item {
  margin-top: 20px;
  display: flex;
}
.icon_wrapper {
  font-size: 2em;
  color: #adb8d3;
}
.fa-solid {
}
.fa-newspaper {
}
.item-icon {
}
.main-content__item-decs {
}
.fa-solid.fa-newspaper.item-icon {
}
